fail2ban:
  lookup:
    pkg:
      - fail2ban
    service:
      - fail2ban

fail2ban:
  config:
    tmpl: salt://fail2ban/files/redhat_fail2ban.conf
    user: root
    group: root
    mode: 644
  jail:
    tmpl: salt://fail2ban/files/redhat_jail.local
    user: root
    group: root
    mode: 644
